*{
    padding: 0;
    margin: 0;
}
.hero{
width: 1700px;
height: 598px;
background-image: url('Assets/Hero-bg.png');
}
.logo{
width: 99px;
height: 51px;
color: blueviolet;
font-family: Inter;
font-size: 44px;
font-weight: 900;
text-align: left;
/* padding-left: 110px; */
/* margin-right: 10px; */
margin: 0 300px;

}
.sup{
width: 132px;
height: 48px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
/* gap: 10; */
/* padding: 12px 36px 12px 36px; */
/* flex: none;
order: 0;
flex-grow: 0;
margin: 0px 16px; */
border-radius: 10px;
border: none;
background-color: blueviolet;
margin: 0 550px;
}
nav{
width: 1140px;
height: 151px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
gap: 30px;
}
nav button span{
width: 65px;
height: 24px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 12px 36px 12px 36px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
color: rgb(255, 255, 255);
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 150%;
letter-spacing: 0%;
text-align: center;
}
.ui{
width: 905px;
height: 152px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 37px 0px;
color: rgb(37, 36, 50);
font-family: Raleway;
font-size: 65px;
font-weight: 700;
text-align: center;

}
.focus{
width: 174px;
height: 48px;
padding: 12px 36px 12px 36px;
border-radius: 10px;
border: none;
background-color: blueviolet;
color: rgb(255, 255, 255);
font-family: Raleway;
font-size: 16px;
font-weight: 700;
text-align: center;
margin: 0 365px;
}
.cool-dark{
width: 905px;
height: 237px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
/* gap: 37;
padding: 0px;
flex: none;
order: 1;
flex-grow: 0;
margin: 0 137px; */
margin: 0 375px;
}
.main-sec{
display: flex;
width: 1200px;
height: 598px;
gap: 50px;
margin: 0 150px;
}

.main-h1{
width: 517px;
height: 49px;
color: rgb(37, 36, 50);
font-family: Raleway;
font-size: 42px;
font-weight: 700;
line-height: 49px;
letter-spacing: 0%;
text-align: left;
}
.main-p{
width: 517px;
height: 60px;
color: rgba(37, 36, 50, 0.5);
font-family: Raleway;
font-size: 24px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
padding: 23px 0;
}
.main-btn{
width: 229px;
height: 48px;
border-radius: 10px;
border: none;
background: blueviolet;
}
.action button span{
width: 157px;
height: 24px;
color: rgb(255, 255, 255);
font-family: Raleway;
font-size: 16px;
font-weight: 700;
line-height: 150%;
letter-spacing: 0%;
text-align: center;
}
.action{
padding: 116px 160px;
}
.img{
width: 403px;
height: 328px;
padding: 100px 0;
}
img{
border-radius: 50px;
}

main{
    /* background-color:#ece9e694; */
    background-color: rgb(245,248,255);
    width: 1700px;
}
.prod-h1{
width: 162px;
height: 97px;
align-items: center;
color: blueviolet;
font-family: Inter;
font-size: 65px;
font-weight: 700;
line-height: 97px;
letter-spacing: 0%;
text-align: left;
margin: 0 auto;
}
.prod-p{
width: 220px;
height: 24px;
align-items: center;
color: rgba(0, 0, 0, 0.5);
font-family: Inter;
font-size: 20px;
font-weight: 400;
text-align: center;
margin: 0 auto;
}
.prod-user{
width: 856px;
height: 45px;
align-items: center;
color: rgb(37, 36, 50);
font-family: Raleway;
font-size: 38px;
font-weight: 700;
text-align: center;
margin: 0 auto;
}
.num{
display: flex;
justify-content: center;
gap: 148px;
}
.prod{
width: 1040px;
height: 206px;
justify-content: center;
align-items: center;
border-radius: 24px;
background: rgba(77, 71, 255, 0.158);
padding: 50px 80px 50px 80px;
margin:0 0 0 300px;
}
.card{
display: flex;
gap: 100px;
}
.design{
width: 1140px;
height: 342px;
margin: 90px 209px;
padding: 50px 80px 50px 80px;
}
.des-h{
width: 1140px;
height: 49px;
color: rgb(37, 36, 50);
font-family: Raleway;
font-size: 42px;
font-weight: 700;
text-align: center;
margin-bottom: 50px;
}
.c1{
width: 366.67px;
height: 213px;
box-sizing: border-box;
border: none;
border-radius: 14px;
background: rgba(206, 156, 173, 0.226);
padding: 20px;
}
.c1-h3{
margin: 10px 0;
}
.c1-p{
margin: 10px 0;
}
.better{
border-radius: 14px;
background: rgb(255, 255, 255);
width: 1140px;
height: 642px;
margin: 90px 150px 90px 280px;
padding: 50px 80px 50px 80px;
}
.better-h2{
width: 516px;
height: 60px;
color: rgb(0, 0, 0);
font-family: Raleway;
font-size: 50px;
font-weight: 700;
justify-content: center;
align-items: center;
text-align: left;
margin: 51px 312px 20px 312px;
}
.better-p{
width: 487px;
height: 22px;
/* Body Base */
color: rgba(0, 0, 0, 0.5);
font-family: Inter;
font-size: 16px;
font-weight: 400;
text-align: left;
margin: 0 326px 20px 326px;
}
.better-btn{
width: 195px;
height: 48px;
box-sizing: border-box;
border-radius: 10px;
background: blueviolet;
margin: 0 472px 20px 432px;
}
.better-btn span{
width: 157px;
height: 24px;
color: rgb(255, 255, 255);
font-family: Raleway;
font-size: 16px;
font-weight: 700;
text-align: center;
}
.better img{
margin: 0 150px 71px 150px;
}
.touch-h1{
width: 650px;
height: 232px;
color: rgb(0, 0, 0);
font-family: Raleway;
font-size: 97px;
font-weight: 700;
text-align: left;
margin: 202px 190px 250px 250px;
}
.touch{
display: flex;
/* gap: 95px; */
}
.tc-form{
width: 497px;
height: 490px;
margin: 0 71px 150px 71px;
}
.lab-p{
width: 497px;
height: 22px;
color: rgb(0, 0, 0);
font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}
#f1{    
width: 470px;
height: 50px;
box-sizing: border-box;
border: 1px solid rgb(214, 221, 237);
border-radius: 10px;
background: rgb(255, 255, 255);
margin: 10px 0;
}
#f2{
width: 470px;
height: 50px;
box-sizing: border-box;
border: 1px solid rgb(214, 221, 237);
border-radius: 10px;
background: rgb(255, 255, 255);
margin: 10px 0;
}
#ta{
width: 470px;
height: 135px;
box-sizing: border-box;
border: 1px solid rgb(214, 221, 237);
border-radius: 10px;
background: rgb(255, 255, 255);
margin: 10px 0;
}
.lab-btn{
width: 497px;
height: 62px;
border-radius: 10px;
background-color: blueviolet;
margin: 10px 0;
border: none;
}
form button span{
width: 95px;
height: 24px;
color: rgb(255, 255, 255);
font-family: Raleway;
font-size: 16px;
font-weight: 700;
text-align: center;
}
.tc-form{
margin: 95px 0;
}
.foot{
width: 1440px;
height: 428px;
box-sizing: border-box;
border-top: 1px solid rgba(0, 0, 0, 0.1);
background: rgb(255, 255, 255);
}
.kms{
width: 531px;
height: 177px;
}
.li-1{
width: 401px;
height: 24px;
display: flex;
list-style: none;
gap: 50px;
margin: 0 705px 103px 565px;
}
.kms-1{
width: 391px;
height: 121px;
color: blueviolet;
font-family: Inter;
font-size: 100px;
font-weight: 900;
text-align: center;
margin: 104px 775px 8px 570px;
}
.kms-p{
width: 490px;
height: 48px;
color: rgb(137, 135, 161);
font-family: Inter;
font-size: 16px;
font-weight: 400;
text-align: center;
margin: 0 775px 20px 525px;
}
ul li span{
width: 100px;
height: 24px;
/* Paragraph */
color: rgb(137, 135, 161);
font-family: Inter;
font-size: 16px;
font-weight: 400;
text-align: left;
}